[Desktop Entry]
Name=S.C.O.U.R.G.E.
Comment=Rogue-like game with 3D interface
Comment[pl]=Tekstowa gra RPG z trójwymiarowym interfejsem
Exec=scourge
Icon=scourge.png
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Encoding=UTF-8
# vi: encoding=utf-8

